body {
  background-image: linear-gradient(
    to bottom,
    #21083b,
    #8e3dbdcf,
    #4586ff,
    #8e3dbdcf,
    #21083b
  );

  background-repeat: round;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}
