<app-navbar></app-navbar><br>
<!-- <app-button cor="btn-success" text="Clique-me!"></app-button><br> -->
<div class="container text-center">
  <div class="row">
    <div class="col">
      <table class="table table-info">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Observações</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.observacoes}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Exemplo básico">
                <button type="button" class="btn btn-warning">Atualizar</button>
                <button type="button" class="btn btn-danger">Excluir</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-info">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Cliente</th>
            <th scope="col">Agência</th>
            <th scope="col">Numero</th>
            <th scope="col">Saldo</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conta of contas">
            <td>{{conta.id}}</td>
            <td>{{conta.cliente.nome}}</td>
            <td>{{conta.agencia}}</td>
            <td>{{conta.numero}}</td>
            <td>{{conta.saldo}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Exemplo básico">
                <button type="button" class="btn btn-warning">Atualizar</button>
                <button type="button" class="btn btn-danger">Excluir</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<app-footer></app-footer><br>
