<app-navbar></app-navbar>
<h1>teste</h1>

<!--Por padrão uma linha pode ser dividida no máximo em 12 colunas
caso seja necessário posso definir quantas dessa coluna cada uma vai ocupar,
se eu coloco "col-6" automaticamnte ele vai ocupar metade do espaço das 12 colunas
disponíveis-->
<div class="container text-center">
  <div class="row">
    <div class="col bg-danger">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">CPF</th>
            <th scope="col">NOME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">OBSERVAÇÕES</th>
            <th scope="col">AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.observacoes}}</td>
            <td>aofi</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col bg-primary">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">AGENCIA</th>
            <th scope="col">NUMERO</th>
            <th scope="col">SALDO</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conta of contas">
            <td>{{conta.id}}</td>
            <td>{{conta.agencia}}</td>
            <td>{{conta.numero}}</td>
            <td>{{conta.saldo}}</td>
            <td>{{conta.cliente.nome}}</td>
            <td>aofi</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>



<app-button text="Meu botão" colorButton="dark"></app-button>
<app-button text="Meu botão" colorButton="primary"></app-button>
<app-footer></app-footer>
