<div class="card mb-4 rounded-3 shadow-sm">
  <!--<input class="form-control" type="text" name="search" [(ngModel)]="filter" />-->
  <div class="card-body">
  
  <div class="row">
    <div class="col-12">
      <h2 class="pb-2" style="position: absolute; width: 85.5%;">Clientes</h2>
      <a class="btn btn-sm btn-dark mb-3" style="margin-bottom: 15px; float: right;" routerLink="/clientes/cadastrar" routerLinkActive="active">Cadastrar</a>
    </div>
    <div class="col-12 border-top">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Observações</th>
          <th scope="col">Ativo</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.observacoes }}</td>
          <td>{{ cliente.ativo }}</td>
          <td>
            <div class="dropdown">
              <button
                class="btn btn-sm btn-outline-dark dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Ações
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="editar/{{cliente.id}}">Editar</a></li>
                <li><a class="dropdown-item" (click)="excluir(cliente.id)" style="cursor: pointer;">Excluir</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>
    <div *ngIf="loading" class="d-flex justify-content-center">
      <div
        class="spinner-border"
        style="width: 3rem; height: 3rem"
        role="status"
      >
        <span class="sr-only"></span>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
