.card{
  max-width:400px;
  background-color: #C9C9C9;
  border-radius: 50px;
}

.botoes{
  margin: 20px;
}

.config{
  display: flex;
  flex-direction: column;

  align-content: center!important;
  align-items: center!important;

}
.form-floating input{
  background-color: transparent;

  border:none;

  border-bottom: 1px solid #e1e1e1;

  outline: none;

  color: black;
}
.submit{
  font-family: 'Bebas Neue';
  background-color: #E68D2D;
}
