<div class="titulo row">
    <div class="col-12">
      <h2 class="pb-2">Cadastrar Conta</h2>
    </div>
  </div>
  <div class="dados row">
    <div class="col">
      <h4>Cliente: <span>{{ cliente.nome }}</span></h4>
    </div>
  </div>
  <form [formGroup]="contaForm" (ngSubmit)="cadastrarConta()">
    <div class="formulario-top row">
      <div class="col">
        <div class="mb-3">
          <label for="agencia" class="form-label">Agência</label>
          <input type="text" class="form-control" id="agencia" formControlName="agencia">
        </div>
      </div>
    </div>
    <div class="formulario row">
      <div class="col">
        <div class="mb-3">
          <label for="numero" class="form-label">Numero - Conta</label>
          <input type="text" class="form-control" id="numero" formControlName="numero">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="saldo" class="form-label">Saldo Inicial</label>
          <input type="number" class="form-control" formControlName="saldo">
        </div>
        <div>
          <h6>
            Saldo inicial mínimo: R$ 10,00
          </h6>
        </div>
      </div>
      <div>
        <button id="ativar" type="submit" [disabled]="!contaForm.valid" class="btn">
          Cadastrar
        </button>
        <button id="cancelar" type="submit" class="btn" routerLink="/cliente/minhas-contas/{{ cliente.cpf }}">
          Cancelar
        </button>
      </div>
    </div>
  </form>