.card{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.form-floating{
  margin: 2px;

}
.form-control{
  width: 600px;

}
.button-form{
  margin: 20px;
}

.checkbox-inline{
  display: flex;
  justify-content: flex-start;
}

input[type='radio']{
  margin-right: 5px;
}
