<div class="config">
  <div class="card">
    <div class="card-header" [align]="'center'">
      Editar Conta
    </div>
    <div class="card-body">
      <form [formGroup]="contaForm" (ngSubmit)="cadastrar()" class="form">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control" id="agencia" placeholder="agencia" formControlName="agencia">
                <label for="floatingInput">Agência</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control" id="numero" placeholder="numero" formControlName="numero">
                <label for="floatingPassword">Numero</label>
              </div>
            </div>
          </div>
        </div>

        <div class="botoes" [align]="'center'">
          <button type="submit" class="btn btn-primary submit" [disabled]="!contaForm.valid">Submit</button>
          <button type="button" class="btn btn-danger" (click)="onBack()">Voltar</button>
        </div>
      </form>
    </div>
  </div>
</div>
