<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Client</h4>

      </div>
      <div class="modal-body">

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
          <div class="form-floating">
            <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
            <label for="floatingInput">Nome</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="cpf" placeholder="CPF" formControlName="cpf">
            <label for="floatingPassword">CPF</label>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
            <label for="floatingPassword">Email</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="observacoes" placeholder="Observações" formControlName="observacoes">
            <label for="floatingPassword">Observações</label>
          </div>

        </form>

        <div class="button-form">
          <button type="button" class="btn btn-primary"
        (click)="onSubmit()">Submit</button>
        <button type="button" class="btn btn-danger"
                (click)="closePopup()"> Close </button>
        </div>

      </div>
    </div>
  </div>
</div>

