<div class="row g-2">
  <div class="col-8">
    <h2 class="styled-header">Acesse aqui</h2>
    <div class="row g-2 mt-3">
      <div class="col-5">
        <div class="card">
          <img
            src="../../../assets/clientes.png"
            class="card-img-top"
            alt="icone de clientes"
          />
          <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">
              Listagem de clientes, edição e criação em um só lugar
            </p>
            <a href="/clientes" class="btn styledAnchor">Ir para clientes</a>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card">
          <img
            src="../../../assets/contas.png"
            class="card-img-top"
            alt="icone de dinheiro"
          />
          <div class="card-body">
            <h5 class="card-title">Contas</h5>
            <p class="card-text">
              Liste, crie, edite e acesse o extrato das contas bancárias
            </p>
            <a href="/contas" class="btn styledAnchor">Ir para contas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div style="display: flex; flex-direction: column">
      <h2 class="styled-header">Operações</h2>
      <a
        class="operation-anchor"
        href="operacao/saque"
        style="margin-top: 14px"
      >
        <div id="saque" class="operation-style">
          <h5 class="card-title operation-title">Saque</h5>
          <p>O saque aqui é simples e fácil</p>
        </div>
      </a>
      <a class="operation-anchor" href="operacao/deposito">
        <div id="deposito" class="operation-style">
          <h5 class="card-title operation-title">Depósito</h5>
          <p>Deposite o seu dinheiro rapidamente</p>
        </div>
      </a>

      <a class="operation-anchor" href="operacao/transferencia">
        <div id="transferencia" class="operation-style">
          <h5 class="card-title operation-title">Transferência</h5>
          <p>Transferência simplificada</p>
        </div>
      </a>
    </div>
  </div>
</div>
